.input-text{
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

.el-button--primary{
    /*color:#EF7814*/
    /*background-color: #EF7814;*/
}